.parent{
    width: 100%; 
    height: 40rem;
    display: grid;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
}
.btn{
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: center;
}