<div  class="parent">
  <div>
    <form [formGroup]="formGroup" (ngSubmit)="showSuccess">
      <h1>Login</h1>
        <dynamic-primeng-form [group]="formGroup"
                              [model]="formModel">
        </dynamic-primeng-form>
    </form>
    <div class="btn">
      <p-toast position="top-center" key="Key1"></p-toast>
      <button type="submit" pButton pRipple [disabled]="formGroup.invalid" (click)="showSuccess()" label="Login" class="p-button-success"></button>
    </div>
  </div>
</div>